<div class="history-page">
    <div *ngIf="message" class="message">
   
    </div>
  
    <div class="history-header">
      <h1>Sanctions list</h1>
      <!-- FORM TO ADD AND EDIT history -->
      <div class="add-cat" *ngIf="!loading">
        <div class="search-container">
          <input
            type="text"
           
          
            placeholder="Search by history name"
            class="search-input"
          />
          <select class="file-type-select">
            <option value="">All Types</option>
            <option *ngFor="let type of uniqueFileTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
      </div>
      
      </div>
        
    </div>
  
    <!-- DISPLAY THE HISTORIES -->
    <table *ngIf="histories.length > 0" class="history-table">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Import Date</th>
            <th>File Size</th>
            <th>Number of Lines</th>
            <th>File Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let history of histories">
            <td>{{ history.fileName }}</td>
            <td>{{ history.importDate }}</td>
            <td>{{ history.fileSize }} KB</td>
            <td>{{ history.numberOfLines }}</td>
            <td>{{ history.fileType }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="histories.length === 0">No import histories found.</div>

