<div class="dashboard-layout">
  <!-- Sidebar -->
  <div class="sidebar" [class.closed]="isSidebarClosed">
    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    <h1 class="ims" *ngIf="!isSidebarClosed">CDG BEP</h1>
    <ul class="nav-links">
      <li>
        <a routerLink="/home">
          <i class="fas fa-home"></i> <span *ngIf="!isSidebarClosed">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/history">
          <i class="fas fa-file-import"></i> <span *ngIf="!isSidebarClosed">Import history</span>
        </a>
      </li>
      <li class="has-submenu">
  <div class="submenu-title" (click)="toggleRechercheSubmenu()">
    <i class="fas fa-search"></i> 
    <span *ngIf="!isSidebarClosed">Recherche</span>
    <i class="fas fa-chevron-down submenu-icon" *ngIf="!isSidebarClosed"></i>
  </div>
  <ul class="submenu" *ngIf="showRechercheSubmenu && !isSidebarClosed">
    <li><a routerLink="/sanctions/peps">PEPs and Warrants</a></li>
    <li><a routerLink="/sanctions/securities">Securities</a></li>
  </ul>
</li>

      <li>
        <a routerLink="/dashboard">
          <i class="fas fa-chart-pie"></i> <span *ngIf="!isSidebarClosed">Dashboard</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content" [class.sidebar-closed]="isSidebarClosed">
    <router-outlet></router-outlet>
  </div>
</div>
